html, body {
  height: 100%;
  width: 100%;
}

.control {
  display:flex;
  flex-direction:row;
  justify-content: space-around;
}

#search {
  height: 40px;
  padding-right: 10px;
}

#search1 {
  padding-left: 10px;
}

